<!DOCTYPE html>
<html>

<head>
  <title>Bypass Cors | Adding Horsepower to Web Apps!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://unpkg.com/vue'></script>
  <link rel="shortcut icon" href="github_pages/favicon.ico" type="image/x-icon">
  <link rel="icon" href="github_pages/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="github_pages/index.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id='app'>
    <div class="container-fluid">
      <header class="text-center">
        <h1>Bypass Cors
          <img src="github_pages/icon_16x16@2x.png" alt="Bypass CORS logo">
        </h1>
        <p>Adding Horsepower to Web Apps!</p>
      </header>
      <div class="row">
        <div class="col-md-2 col-sm-12" id="right-navbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Page Top</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#introduction">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#usage">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#installation">Installation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Item 4</a>
            </li>
          </ul>
        </div>
        <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
          <h2 id="introduction" class="text-center">Introduction</h2>
          <img src="github_pages/Bypass_CORS.png" class="img-fluid" alt="Bypass Cors Explained">
          <p> NEVER again let not enabled CORS domains , stand in your Web App's way to acquiring
            publicly available web resources.
          </p>
          <h2 id="usage" class="text-center">Usage</h2>
          <p><b>Three steps:</b></p>
          <ol>
            <li>Prod your users to install Bypass Cors to their machines.</li>
            <li>Tell them to add your domain to Bypass Cors's '"Whitelist Domains", e.g. "https://example.com/".
              For the change to take effect they have to press the "Restart Server" button.
            </li>
            <li>Issue an http POST request from your web app,  to the url Bypass Cors is listening at.
              Default address is http://localhost:3167/, but user can change the port.
              <pre><code class="language-javascript">
axios
  .post(bypassCorsUrl, 
    { headers, url, fullPageRender, javascript, scrollInterval, debug })
  .then(res => res.data)</code>
              </pre>

            </li>
          </ol>
          <h2 id="installation" class="text-center">Installation</h2>
          <p class="text-left">
            <b>Step 1:</b>
            Download the appropriate installer for your machine:
          </p>
          <section class="text-center">
            <button class="btn btn-primary mb-4">
              <a :href="latestReleaseBaseUrl + windowsInstaller">
                <img class="logo" src="github_pages/WindowsLogo.png" alt="Windows Logo"> Windows
              </a>
            </button>
            <button class="btn btn-info mb-4 ml-4 ">
              <a :href="latestReleaseBaseUrl + macInstaller">
                <img class="logo" src="github_pages/MacLogo.png" alt="Mac Logo"> Mac
              </a>
            </button>
            <button class="btn btn-success mb-4 ml-4">
              <a :href="latestReleaseBaseUrl + linuxInstaller">
                <img class="logo linux" src="github_pages/LinuxLogo.png" alt="Linux Logo"> Linux
              </a>
            </button>
          </section>
          <p class="text-left">
            <b>Step 2:</b>
            Follow the instructions specific to your os :
          </p>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="#" @click.prevent="osActive='Windows'"
                :class="{ active: osActive==='Windows' }">Windows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" @click.prevent="osActive='Mac'" :class="{ active: osActive==='Mac' }">Mac</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" @click.prevent="osActive='Linux'"
                :class="{ active: osActive==='Linux' }">Linux</a>
            </li>
          </ul>
          <div class="text-left">
            <section v-if="osActive==='Windows'">
              <p class="mt-3"><b> 1.</b>Double-click the downloaded <b> {{windowsInstaller}} </b>.</p>
              <p class="mt-3"><b> 2.</b>You may run into the following warning message, initiated from
                <b>"Windows Defender Smartscreen" </b>: </p>
              <img src="github_pages/WindowsDefender1.png" class="img-fluid" alt="WindowsDefenderFirstScreen">
              <p class="mt-2">Click at <b>"More info" </b>.</p>
              <p> When the warning message expands, click the <b>“Run anyway” </b> button</p>
              <p class="mt-3"><b> 3.</b>When installation completes , the <b>"Windows Defender Firewall"</b> will ask
                you to grant access to private and public networks. <u> Tick both checkboxes.</u></p>
            </section>
            <section v-if="osActive==='Mac'">
              <p class="mt-3"><b> 1.</b>Double-click the downloaded <b> {{macInstaller}} </b>.</p>
              <p class="mt-3"><b> 2.</b>Drag and drop the Bypass Cors icon to the application's folder.</p>
              <img src="github_pages/MacInstall.png" class="macInstall img-fluid" alt="MacInstall">
              <p class="mt-3"><b> 3.</b>When you launch the app for the first time, you may get the message:
                "You cannot open an app from an unidentified developer" . To proceed locate the installed Bypass Cors
                app in the Finder (under Applications Folder),
                right-click it and select "Open". More detailed instructions can be found <a
                  href="https://support.apple.com/kb/ph25088?locale=en_US" target="_blank"> here</a>.
              </p>
            </section>
            <section v-if="osActive==='Linux'">
              <p class="mt-3"><b> 1.</b>
                Right-Click the downloaded <b> {{linuxInstaller}} </b> => Properties => Permissions => Execute => Allow
                executing file as program =>
                <u>tick the checkbox</u>.</p>
              <p class="mt-3"><b> 2.</b>Double-click the installer. You can choose to run as a standalone( no
                installation).</p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        osActive: "Windows",
        version: ''
      },
      computed: {
        latestReleaseBaseUrl() {
          return `https://github.com/chrishham/BypassCors/releases/download/v${this.version}/`
        },
        windowsInstaller() {
          return `bypass-cors-setup-${this.version}.exe`
        },
        macInstaller() {
          return `bypass-cors-${this.version}.dmg`
        },
        linuxInstaller() {
          return `bypass-cors-${this.version}-x86_64.AppImage`
        }
      },
      methods: {
      },
      created() {
        let os = getOS()
        if (os !== "Mac" && os !== "Linux") os = 'Windows'
        this.osActive = os
        axios('https://api.github.com/repos/chrishham/BypassCors/releases/latest')
          .then(result => {
            console.log(result.data.tag_name)
            this.version = result.data.tag_name.slice(1)
          })
          .catch(error => {
            console.log(error)
            this.version = '0.1.0'
          })
      }
    })

    function getOS() {
      var userAgent = window.navigator.userAgent,
        platform = window.navigator.platform,
        macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
        windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
        iosPlatforms = ['iPhone', 'iPad', 'iPod'],
        os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
        os = 'Mac';
      } else if (iosPlatforms.indexOf(platform) !== -1) {
        os = 'iOS';
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
        os = 'Windows';
      } else if (/Android/.test(userAgent)) {
        os = 'Android';
      } else if (!os && /Linux/.test(platform)) {
        os = 'Linux';
      }
      return os;
    }
  </script>
</body>

</html>