.logo {
  width: 25px;
}

.logo.linux {
  width: 35px;
}

button a {
  color: white;
  text-decoration: none;
  /* no underline */
}

.macInstall {
  max-height: 200px;
}

#right-navbar {
  position: fixed;
  top: 50px;
}

div.github {
  position: fixed;
  top: 0;
  right: 0;
}

input.targetUrl {
  width: 80%;
}

textarea.headersTxt {
  min-height: 330px;
  width: 100%;
}

textarea.cookiesTxt {
  min-height: 330px;
  width: 100%;
}

textarea.javascriptTxt {
  min-height: 130px;
  width: 100%;
}

.whatScraperSees {
  width: 100%;
  background-color: whitesmoke;
  min-height: 80vh;
  overflow-y: scroll;
  border: 2px solid gold;
}

@media (max-width: 767px) {
  #right-navbar {
    position: static;
    text-align: center;
  }
  div.github {
    position: absolute;
  }
}

/* div.installation {
  min-height: 300px;
} */

.githubIcon {
  width: 25px;
}

img.cors_error {
  height: 80px;
}

img.app_main_photo {
  border: 2px solid black;
  max-height: 550px;
}