.logo {
  width: 25px;
}

.logo.linux {
  width: 35px;
}

button a {
  color: white;
  text-decoration: none;
  /* no underline */
}

.macInstall {
  max-height: 200px;
}

#right-navbar {
  position: fixed;
  top: 50px;
}

@media (max-width: 767px) {
  #right-navbar {
    position: static;
    text-align: center;
  }
}